node_modules/
.DS_Store
.env
.private/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tools/padic/p_adic_pro/padic_converter
tools/padic/p_adic_pro/padic_converter.exe
tools/padic/p_adic_pro/Src/*.o
tools/study/python-packages/
